.items {
    flex: 1 auto;
    position: relative;
    max-height: 50%;
    overflow: auto;
    margin: .4em;

    .scroll-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;

        .row {
            @apply border border-slate-200;

            padding: .2em;
            display: flex;
            flex-direction: row;
            align-items: center;

            .col-1 {
                flex: 1 auto;
                display: flex;
                cursor: default;

                input {
                    @apply border border-slate-400;

                    flex: 1 auto;
                    padding: .4em;
                }
            }

            .col-2 {
                flex: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: .2em;

                button,
                .btn {
                    // @apply border rounded-md bg-slate-200;

                    cursor: pointer;
                    padding: .1em;
                    margin-left: .2em;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
    }
}
